@using Realitky.Models.Entity
@{
    int counter = 0;
}
<h1>Nábídky</h1>

<h2>Vaše</h2>
<div class="card table-responsive px-3">
    <table class="table align-middle">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Nabídka</th>
            <th scope="col">Odesilatel</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Telefon</th>
            <th scope="col" class="text-center align-middle">Akce</th>
        </thead>
        <tbody>
        @{counter = 0;}
        @foreach (Request request in @ViewBag.MyRequests)
        {
            counter++;
            <tr>
                <th scope="row">@counter</th>
                <td>
                    <a asp-controller="Root" asp-action="Detail" asp-route-id="@request.Offer.Id">@request.Offer.title</a>
                </td>
                <td>@request.name</td>
                <td>@request.email</td>
                <td>@request.phone</td>
                <td class="text-center d-inline- g-3">
                    <a asp-controller="Admin" asp-action="RequestsDelete" asp-route-id="@request.Id"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


@if(@ViewBag.IsAdmin)
{
    <h2 style="margin-top: 15px">Vše</h2>
    <div class="card table-responsive px-3">
        <table class="table align-middle">
            <thead>
            <th scope="col">#</th>
                <th scope="col">Nabídka</th>
                <th scope="col">Odesilatel</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Telefon</th>
                <th scope="col" class="text-center align-middle">Akce</th>
            </thead>
            <tbody>
            @{counter = 0;}
            @foreach (Request request in @ViewBag.AllRequests)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>
                        <a asp-controller="Root" asp-action="Detail" asp-route-id="@request.Offer.Id">@request.Offer.title</a>
                    </td>
                    <td>@request.name</td>
                    <td>@request.email</td>
                    <td>@request.phone</td>
                    <td class="text-center d-inline- g-3">
                        <a asp-controller="Admin" asp-action="RequestsDelete" asp-route-id="@request.Id"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

<hr/>

<h2>Chaty</h2>

<div class="card table-responsive px-3">
    <table class="table align-middle">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Nabídka</th>
            <th scope="col">Odesilatel</th>
        </thead>
        <tbody>
        @{counter = 0;}
        @foreach (Request_user thread in @ViewBag.Threads)
        {
            counter++;
            
            <tr onclick="rowClicked('@Url.Action("ChatDetail", "Root", new { id = thread.Id })')">
                <th scope="row">@counter</th>
                <td>
                    <a asp-controller="Root" asp-action="Detail" asp-route-id="@thread.IdOffer">
                        @thread.Offer.title
                    </a>
                </td>
                <td>
                    @thread.User.name (@thread.User.username)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<script>
    function rowClicked(url) {
        window.location.href = url;
    }
</script>
<style>
    i:hover {
        cursor: pointer;
        color: #dc3545;
    }
</style>