@using Realitky.Models.Entity
@{
    int counter = 0;
}
<h1>Nábídky</h1>

<h2>Vaše</h2>
<div class="card table-responsive px-3">
    <table class="table align-middle">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Odesilatel</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Telefon</th>
            <th scope="col" class="text-center align-middle">Akce</th>
        </thead>
        <tbody>
        @{counter = 0;}
        @foreach (Request request in @ViewBag.MyRequests)
        {
            counter++;
            <tr>
                <th scope="row">@counter</th>
                <td>@request.name</td>
                <td>@request.email</td>
                <td>@request.phone</td>
                <td class="text-center d-inline- g-3">
                    <span><i class="bi bi-pencil-square"></i></span>
                    <span><i class="bi bi-trash"></i></span>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


@if(@ViewBag.IsAdmin)
{
    <h2 style="margin-top: 15px">Vše</h2>
    <div class="card table-responsive px-3">
        <table class="table align-middle">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Odesilatel</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Telefon</th>
                <th scope="col" class="text-center align-middle">Akce</th>
            </thead>
            <tbody>
            @{counter = 0;}
            @foreach (Request request in @ViewBag.AllRequests)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@request.name</td>
                    <td>@request.email</td>
                    <td>@request.phone</td>
                    <td class="text-center d-inline- g-3">
                        <span><i class="bi bi-pencil-square"></i></span>
                        <span><i class="bi bi-trash"></i></span>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
<style>
    i:hover {
        cursor: pointer;
        color: #dc3545;
    }
</style>