

@using Realitky.Models.Entity
@{
    Offer offer = @ViewBag.Offer;
    
    string price = @ViewBag.Offer.price.ToString("N0");
    if (@ViewBag.Offer.IsRent){ price += ",- / měsíc"; }
    else { price += " Kč";}
    
    string isRent = offer.IsRent ? "pronájem" : "prodej";

    List<ParametrsOffers> x = offer.ParametrsOffers;
    int middleIndex = (x.Count + 1) / 2;
    var leftParam = x.GetRange(0, middleIndex);
    var rightParam = x.GetRange(middleIndex, x.Count - middleIndex);
}
<main class="margin">
    <div class="margin-2">
        <div id="preview">
            @if (offer.Gallery.Any())
            {
                <image id="pre-selected" src="./../../assets/@offer.Gallery[0].path"/>
                <div id="pre-grid">
                    @foreach (var image in offer.Gallery.Skip(1).Take(Math.Min(6, offer.Gallery.Skip(1).Count())))
                    {
                        <div class="cover" style="--url: url('./../../assets/@image.path');"></div>
                        @* <a href="" id="pre-more" class="cover dark center" style="--url: url('./../../assets/home-img-07-370x250.jpg');"> *@
                        @*     <span>dalších 23 fotek</span> *@
                        @* </a> *@
                    }
                </div>
            }
        </div>
        <div id="properties">
            <div id="prop-R" class="my-col">
                <div class="l-mb">
                    <h1>@offer.title</h1>
                    <h2>@offer.address</h2>
                </div>
                <div class="l-mb my-col">
                    <div id="p-price">@price</div>
                    <div id="p-label">za @isRent</div>
                </div>
            </div>
            <div id="prop-L" class="my-row">
                <div id="bedge-energy" class="my-row">
                    <span>Energetická třída</span>
                    <span id="C">C</span>
                </div>
                <a id="p-calc" href="">spočítat hypotéku</a>
            </div>
        </div>
        <div>
            <p id="description">
                @offer.body
            </p>
            <div id="tables">
                <table class="info-table">
                    @foreach(var item in leftParam)
                    {
                        <tr>
                            <th>@item.Parametr.name</th>
                            <td>@item.value</td>
                        </tr>
                    }
                </table>

                <table class="info-table">
                    @foreach(var item in rightParam)
                    {
                        <tr>
                            <th>@item.Parametr.name</th>
                            <td>@item.value</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div id="contact2">
            <div id="seller">
                <h1>Kontaktujte prodejce</h1>
                <vc:dealer-component user="@offer.Dealer"></vc:dealer-component>
                <div id="seller-badges" class="my-row">
                    <div class="my-col">
                        <img src="./../../assets/badge-1.png" sizes="">
                        <span>Makléř roku<br>2020</span>
                    </div>
                    <div class="my-col">
                        <img src="./../../assets/bedge-2.png">
                        <span>Cena zákazníků<br>2021</span>
                    </div>
                </div>
            </div>
            <div id="ask">
                <h1>Napište nám, ozveme se</h1>
                @if (@ViewBag.UserId != null)
                {
                    <partial name="_RequestForm2" />
                }
                else
                {
                    <partial name="_RequestForm" />
                }
            </div>
        </div>
    </div>
</main>
<div id="map">
    <iframe style="border:none" src="https://frame.mapy.cz/s/favovecore"></iframe>
</div>