@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Realitky.Models.Entity.Offer

@{
    string price = @ViewBag.Offer.price.ToString("N0");
    
    //IsRent
    if (@ViewBag.Offer.IsRent){ price += ",- / měsíc"; }
    else { price += " Kč";}
}

<a asp-area="" asp-controller="Root" asp-action="Detail">
    <div class="cover" style="--url: url('../../assets/@ViewBag.Offer.thumbnail');"></div>
    <div class="col">
        <h2>@ViewBag.Offer.title</h2>
        <h3>@price</h3>
        <p>@ViewBag.Offer.summary</p>
    </div>
</a>
