@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Realitky.Models.Entity
@using WebApplication4.Models
@model Realitky.Models.Entity.Offer

@{
    string price = @ViewBag.Offer.price.ToString("N0");
    
    //IsRent
    if (@ViewBag.Offer.IsRent){ price += ",- / měsíc"; }
    else { price += " Kč";}
    
    bool isUser = false;
    bool isFavorite = false;


    if (@ViewBag.UserId != null)
    {
        isUser = true;
    }
        
}
<div class="card">
    @if(isUser)
    {
        <form asp-controller="Root" asp-action="Like" asp-route-idOffer="@ViewBag.Offer.Id" asp-route-idUser="@ViewBag.UserId" method="post">
            <button type="submit" id="like" class="@(@ViewBag.Offer.IsFavorite ? "active" : "")">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon">
                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
                </svg>
            </button>
        </form>
    }
    <a asp-area="" asp-controller="Root" asp-action="Detail" asp-route-id="@ViewBag.Offer.Id">
        <div class="cover" style="--url: url('../../assets/@ViewBag.Offer.thumbnail');"></div>
        <div class="col">
            <h2>@ViewBag.Offer.title</h2>
            <h3>@price</h3>
            <p>@ViewBag.Offer.summary</p>
        </div>
    </a>
</div>
